<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">
<head><title>Review</title></head>
<body>
<main id="main-content" layout:fragment="content">
    <h1 class="h4">Review <span th:text="${taskReview.id}">#</span></h1>
    <p class="text-muted mb-0">This page will show full review details in Story 4.2. You can return to your
        <a th:href="@{/mentor/reviews}">queue</a>.
    </p>
</main>
</body>
</html>
